
	li {
		display: contents;
	}
	body {
		background-color: grey;
		color: orange;
		font-family: sans-serif;
	}
	h1 {
		font-size: 80px;
		color: white;
		position: relative;
		top: 10;
	}
	
	
th {
	text-align: left;
	color: red;
	background-color: rgba(0,0,0..5);

}
#me{
	position: absolute;
	padding-top: 94px;	
	padding-right: 10px;
	right: 0; 
	width: 175px;
	height: 250px;
}
.selected{
	color: red;
}